body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*-------------------------------------------------------------*/
header{
    display: flex;
    background-color: #eeeff1;
    justify-content: space-between;
    padding: 7px 5%;
    align-items: center;
    box-shadow: 0px 10px 25px #00000043;
    height: 40px;
}

.main-nav{
    width: auto;
    display: flex;
    column-gap: 40px;
}

.main-nav a{
    font-size: 18px;
    color: #3c404a;
    text-decoration-line: none;
    transition-duration: 0.3s;
}
header img{
    height: 30px;
}
.main-nav a:hover{
    color: #fb6376;
}
#selected{
    color: #5762d5;
}

header svg:hover{
    cursor: pointer;
}

#moon-icon{display: none;}
/*-------------------------------------------------------------*/
#product-main-con{
    width: 60%;
    margin: 50px auto;
}
#product-main-con main{
    display: flex;
    width: 100%;
    column-gap: 40px;
}
#product-main-con button{
    background-color: #5762d5;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    transition-duration: 0.3s;
}
#product-main-con button:hover{
    background-color: #3d47b0;
}
#feedback{
    padding: 30px;
    background-color: #e9e6f0;
    border-radius: 20px;
    margin-top: 70px;
}